{use_macro file="Dataface_Main_Template.html"}
{fill_slot name="left_column"}
&nbsp
{/fill_slot}
{fill_slot name="main_column"}
<h1>This is - dgnote130</h1>

<p>This is a test app. The contents of the system are notes.
<ul>
    <li>
            <button type="button" id="dash-btn1" >
                <span style="font-size:1.4em;">New note</span>
                <span style="font-size:0.7em;">(Mobile)</span>   </button>
        </a>
    </li>

    <li>
            <button type="button" id="dash-btn1" >
            <span style="font-size:1.4em;">Edit note</span>
            <span style="font-size:0.6em;">(Desktop)</span>     </button>
        
        <!--put some whitespace above the item below-->
             <span style="font-size:1.3em;"><br/><br/><br/></span>
        </a>
    </li>

    <li>
        <!--<img src="{$ENV.DATAFACE_URL}/images/edit.gif"/>--> 
        <span style="font-size:1.4em;"><br/></span>  
        <span style="font-size:4.4em;">Edit</span>  
        <span style="font-size:2em;">(from list):</span>
         
    </li>


</ul>
{/fill_slot}
{/use_macro}